In [1]:
def company():
    print("i am doing internship in infosys")

In [2]:
company()

i am doing internship in infosys

In [3]:
def company1(com_name):
    print(f"i am doing internship in {com_name}")

In [4]:
company1('tcs')  # direct way of passing arguments

i am doing internship in tcs

In [5]:
comp='wipro'     # indirect way of passing parameter in function call are called actual parameter
company1(comp)

i am doing internship in wipro

In [6]:
def add(x,y):
    return x+y
def sub(x,y):
    return x-y
def multiply(x,y):
    return x*y
def divide(x,y):
    return x/y
def calculator():
    print("select operation")
    print("1. addd")
    print("2. substraction")
    print("3. multiply")
    print("4. Divide")
    choice=input("enter tour choice")
    num1=int(input("Enter first number"))
    num2=int(input("Enter second number"))
    if choice=='1':
        return add(num1,num2)
    elif  choice=='2':
        return sub(num1,num2)
    elif choice=='4':
        return multiply(num1,num2)
    elif choice=='4':
        return divide(num1,num2)
    else:
        print("invalid input")
calculator()

select operation
1. addd
2. substraction
3. multiply
4. Divide

enter tour choice 1
Enter first number 6
Enter second number 9

15

In [7]:
def laptop(brand,price):
    print(f'my laptop brand is {brand} and price is {price}')

In [8]:
laptop('Asus',60000)

my laptop brand is Asus and price is 60000

In [9]:
laptop(70000,'Hp')

my laptop brand is 70000 and price is Hp

In [3]:
def device():
    global phone   # declare phone as global
    phone = 'vivo'
    print(f'i am using {phone} mobile for multipurpose')
device()
print(f'my friend is working in {phone} company')

i am using vivo mobile for multipurpose
my friend is working in vivo company