In [1]:
import pandas as pd

In [2]:
#=['a','b','c']
#pd.Series(data1=data, index=labels)

In [3]:
import pandas as pd
data = [10, 20, 30]
labels = ['a', 'b', 'c']
s = pd.Series(data=data, index=labels)
print(s)

a    10
b    20
c    30
dtype: int64

In [4]:
s = pd.Series(data=data, index=labels)
print(s['b'])

20

In [5]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)
df=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509